//fonts google 
@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');
@import url('https://fonts.googleapis.com/css2? familia = Abierto + Sans: peso @ 300 &family= Roboto & display=swap');
@import url('https://fonts.googleapis.com/css2? familia= Abierto+Sans:peso@300;400 &family= Roboto & display=swap');

$mainfont: 'Roboto', sans-serif;
$secondaryfont: Open Sans', sans-serif;

//sizings

$textMd: 1.3em;
$textLg: 1.8em;
$textSm: 0.8em;

//weights
$textBold:600;
$textRegular:400;
$textThin:200;
